BasedOnStyle: LLVM
PointerAlignment: Right
AlignConsecutiveAssignments: false
IndentWidth: 4
UseTab: Never
TabWidth: 4
MaxEmptyLinesToKeep: 1
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: true
IndentCaseLabels: true
ObjCBlockIndentWidth: 4
ObjCBreakBeforeNestedBlockParam: false
ObjCSpaceAfterProperty: true
ColumnLimit: 0
AlignTrailingComments: true
SpaceAfterCStyleCast: false
AlignOperands: false
SpacesInSquareBrackets: false
AlignConsecutiveDeclarations: false
SpacesInContainerLiterals: false
BreakConstructorInitializersBeforeComma: true
AllowAllParametersOfDeclarationOnNextLine: true
ContinuationIndentWidth: 4
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 2
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
DisableFormat: false
