tests/import/svg/fixtures/kitchen_sink.svg filter=lfs diff=lfs merge=lfs -text
tests/import/svg/fixtures/test.svg filter=lfs diff=lfs merge=lfs -text
adapter/tgfx/tests/fixtures/red_2x2.png filter=lfs diff=lfs merge=lfs -text
